@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap");

.main-app {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
}
